<!DOCTYPE html>
<html dir="{{current_locale.lang_dir}}"
    lang="{{current_locale.code}}"
    class="h-100">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible"
        content="IE=edge">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0">
    <title>{{{__ "main_site_title"}}}</title>
    <link rel="stylesheet"
        href="/css/main.css">
    <link rel="stylesheet"
        href="/libs/bootstrap-5.3.3/css/bootstrap.min.css">
    <meta property="og:title"
        content="{{{__ "
        main_site_title"}}}" />
    <meta name="description"
        content="{{{__ "
        main_site_description"}}}" />
    <meta property="og:description"
        content="{{{__ "
        main_site_description"}}}" />
    <meta property="og:type"
        content="website" />
    <meta property="og:url"
        content="https://jointhefediverse.net/" />
    <meta property="og:image"
        content="https://jointhefediverse.net/images/images/join-the-fediverse.png" />
    <meta property="og:image:alt"
        content="The text 'Join the fediverse' in shades of purple on a dark background" />
    <link rel="me"
        href="https://glitch.com/@stefan" />
    <link rel="apple-touch-icon"
        href="icons/apple-touch-icon.png"
        sizes="180x180">
    <link rel="icon"
        href="icons/favicon-32x32.png"
        sizes="32x32"
        type="image/png">
    <link rel="icon"
        href="icons/favicon-16x16.png"
        sizes="16x16"
        type="image/png">
    <link rel="manifest"
        href="icons/site.webmanifest">
    <!-- <link rel="mask-icon" href="icons/safari-pinned-tab.svg" color="#712cf9"> -->
    <link rel="icon"
        href="icons/favicon.ico">
    <meta name="theme-color"
        content="#712cf9">
    <link rel="prefetch"
        href="images//logos/social/facebook.svg" />
    <link rel="prefetch"
        href="images//logos/social/instagram.svg" />
    <link rel="prefetch"
        href="images//logos/social/pinterest.svg" />
    <link rel="prefetch"
        href="images//logos/social/snapchat.svg" />
    <link rel="prefetch"
        href="images//logos/social/tiktok.svg" />
    <link rel="prefetch"
        href="images//logos/social/x.svg" />
    <link rel="prefetch"
        href="images//logos/social/wechat.svg" />
    <link rel="prefetch"
        href="images//logos/social/whatsapp.svg" />
</head>

<body class="d-flex flex-column h-100 m-0 p-0">
    <script>
        const Cookies = {
            setCookie: (cookieName, cookieValue, maxAgeDays) => {
                maxAgeDays = maxAgeDays || 365;
                document.cookie = `${cookieName}=${cookieValue}; maxAge=${maxAgeDays || 24 * 60 * 60 * 1000
                    };path=/`;
            },
            getCookie: (cookieName) => {
                let name = cookieName + "=";
                let ca = document.cookie.split(";");
                for (let i = 0; i < ca.length; i++) {
                    let c = ca[i];
                    while (c.charAt(0) == " ") {
                        c = c.substring(1);
                    }
                    if (c.indexOf(name) == 0) {
                        return c.substring(name.length, c.length);
                    }
                }
                return "";
            },
            checkCookie: () => {
                let user = getCookie("username");
                if (user != "") {
                    alert("Welcome again " + user);
                } else {
                    user = prompt("Please enter your name:", "");
                    if (user != "" && user != null) {
                        setCookie("username", user, 365);
                    }
                }
            },
        };

        const applyTheme = (theme) => {
            switch (theme) {
                case "light":
                    htmlElement.dataset.bsTheme = "light";
                    break;
                case "dark":
                    htmlElement.dataset.bsTheme = "dark";
                    break;
                case "auto":
                default:
                    const prefersDark = window.matchMedia(
                        "(prefers-color-scheme: dark)"
                    ).matches;
                    htmlElement.dataset.bsTheme = prefersDark ? "dark" : "light";
            }
        }

        const htmlElement = document.documentElement;
        const currentTheme = Cookies.getCookie("theme") || "auto";
        applyTheme(currentTheme);
    </script>
    <header class="position-absolute w-100">
        <nav class="navbar navbar-expand-md navbar-dark">
            <div class="container-fluid">
                <button class="navbar-toggler collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarCollapse"
                    aria-controls="navbarCollapse"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse"
                    id="navbarCollapse"
                    style="">
                    <ul class="navbar-nav me-auto mb-2 mb-md-0">
                        <li class="nav-item p-1">
                            <a class="nav-link"
                                href="/">{{{__ "navigation_home"}}}</a>
                        </li>
                        <li class="nav-item p-1">
                            <a class="nav-link"
                                href="/join">{{{__ "navigation_join"}}}</a>
                        </li>
                        <li class="nav-item p-1">
                            <a class="nav-link"
                                href="/learn">{{{__ "navigation_learn"}}}</a>
                        </li>
                        <li class="nav-item p-1">
                            <a class="nav-link"
                                href="/about">{{{__ "navigation_about"}}}</a>
                        </li>
                    </ul>
                </div>
                <form id="language-switcher-wrapper"
                    class="d-flex gap-2">
                    <select id="theme-switcher"
                        class="form-select mt-2 w-auto">
                        <option value="auto">🌓 {{{__ "navigation_theme_auto"}}}</option>
                        <option value="light">☀️ {{{__ "navigation_theme_light"}}}</option>
                        <option value="dark">🌙 {{{__ "navigation_theme_dark"}}}</option>
                    </select>
                    <select id="language-switcher"
                        class="form-select mt-2">
                        <option style="display:none"></option>
                        {{#each translations}}
                        <option value="{{this.code}}">{{this.label}}</option>
                        {{/each}}
                    </select>
                </form>

            </div>
        </nav>
    </header>
    <main class="flex-shrink-0">{{{body}}}</main>
    <footer class="footer mt-auto py-3 text-center">
        <div class="container">
        </div>
    </footer>
    <script type="module"
        src="/libs/bootstrap-5.3.3/js/bootstrap.min.js"
        async></script>
    <script type="module"
        src="/libs/scrollama/3.1.1/scrollama.min.js"
        async></script>
    <script type="module"
        src="/js/main.js"
        async></script>
    <script>const supportedLanguages = {{{ supported_languages }}}</script>
    <script>{{{footer_scripts}}}</script>
</body>

</html>