<div class="d-flex align-items-center vh-100 position-relative overflow-hidden text-center">
    <div class="mx-auto my-5">
        <h1 class="display-4 fw-bold">{{{__ "home_intro_what_is_fediverse"}}}</h1>
        <a class="btn btn-outline-secondary mt-5" href="#intro">{{{__ "home_intro_btn_explore"}}}</a>
    </div>
</div>
<div id="intro" class="container mb-5 mt-5">
    <div class="row">
        <div class="col-sm-12 col-md-6 d-flex justify-content-center align-items-center vh-100 sticky-top animation-wrapper">
            <div class="position-sticky top-body animation-wrapper pt-5 mb-3">
                <div class='network-animation'>
                    <div class='item'>
                        <div class='line'></div>
                        <div class='dot'></div>
                        <div class='circle'>
                            <img
                                class="logo"
                                src="images/logos/email/gmail.svg"
                                alt="Gmail logo"
                                data-email="gmail"
                                data-social="facebook"
                                data-fediverse="mastodon"
                            >
                        </div>
                    </div>
                    <div class='item'>
                        <div class='line'></div>
                        <div class='dot'></div>
                        <div class='circle'>
                            <img
                                class="logo"
                                src="images/logos/email/outlook.svg"
                                alt="Outlook logo"
                                data-email="outlook"
                                data-social="instagram"
                                data-fediverse="peertube"
                            >
                        </div>
                    </div>
                    <div class='item'>
                        <div class='line'></div>
                        <div class='dot'></div>
                        <div class='circle'>
                            <img
                                class="logo"
                                src="images/logos/email/yahoo-mail.svg"
                                alt="Yahoo Mail logo"
                                data-email="yahoo-mail"
                                data-social="pinterest"
                                data-fediverse="pixelfed"
                            >
                        </div>
                    </div>
                    <div class='item'>
                        <div class='line'></div>
                        <div class='dot'></div>
                        <div class='circle'>
                            <img
                                class="logo"
                                src="images/logos/email/icloud-mail.svg"
                                alt="iCloud Mail logo"
                                data-email="icloud-mail"
                                data-social="snapchat"
                                data-fediverse="funkwhale"
                            >
                        </div>
                    </div>
                    <div class='item -type2'>
                        <div class='line'></div>
                        <div class='dot'></div>
                        <div class='circle'>
                            <img
                                class="logo"
                                src="images/logos/email/aol.svg"
                                alt="AOL logo"
                                data-email="aol"
                                data-social="tiktok"
                                data-fediverse="writefreely"
                            >
                        </div>
                    </div>
                    <div class='item -type2'>
                        <div class='line'></div>
                        <div class='dot'></div>
                        <div class='circle'>
                            <img
                                class="logo"
                                src="images/logos/email/proton-mail.svg"
                                alt="ProtonMail logo"
                                data-email="proton-mail"
                                data-social="x"
                                data-fediverse="mbin"
                            >
                        </div>
                    </div>
                    <div class='item -type2'>
                        <div class='line'></div>
                        <div class='dot'></div>
                        <div class='circle'>
                            <img
                                class="logo"
                                src="images/logos/email/zoho.svg"
                                alt="ZOHO logo"
                                data-email="zoho"
                                data-social="wechat"
                                data-fediverse="misskey"
                            >
                        </div>
                    </div>
                    <div class='item -type2'>
                        <div class='line'></div>
                        <div class='dot'></div>
                        <div class='circle'>
                            <img
                                class="logo"
                                src="images/logos/email/gmx.svg"
                                alt="GMX logo"
                                data-email="gmx"
                                data-social="whatsapp"
                                data-fediverse="pleroma"
                            >
                        </div>
                    </div>
                    <div class='center'>
                        <div class='circle'></div>
                    </div>
                </div>          
            </div>
        </div>
        <div class="col-sm-12 col-md-6 order-md-1">
            <div id="what-is" class="step vh-100 pt-3 d-flex flex-column justify-content-center" data-step="0" data-scrollama-index="0">
                <p class="p-2 lead bg-dark">
                    {{{__ "home_intro_analogy"}}}
                </p>
                <p class="p-2 bg-dark">
                    {{{__ "home_intro_email"}}}
                </p>
                <p class="p-2 bg-dark">
                    {{{__ "home_intro_anyone"}}}
                </p>
                <p class="p-2 mt-5">
                    <a class="btn btn-outline-secondary d-none d-md-inline" href="#other-social">{{{__ "home_intro_btn_neat"}}}</a>
                </p>
            </div>
            <div id="other-social" class="step vh-100 pt-3 d-flex flex-column justify-content-center" data-step="1" data-scrollama-index="1">
                <p class="p-2 lead bg-dark">
                    {{{__ "home_intro_not_social_media"}}}
                </p>
                <p class="p-2 bg-dark">
                    {{{__ "home_intro_social_media"}}}
                </p>
                <p class="p-2 mt-5">
                    <a class="btn btn-outline-secondary d-none d-md-inline" href="#what-if">{{{__ "home_intro_btn_good_point"}}}</a>
                </p>
            </div>
            <div id="what-if" class="step vh-100 pt-3 d-flex flex-column justify-content-center" data-step="2" data-scrollama-index="2">
                <p class="p-2 lead bg-dark">
                    {{{__ "home_intro_what_if"}}}
                </p>
                <p class="p-2 bg-dark">
                    {{{__ "home_intro_fediverse_lets_you"}}}
                </p>
                <p class="p-2 mt-5">
                    <a class="btn btn-outline-secondary d-none d-md-inline" href="#fediverse">{{{__ "home_intro_btn_interesting"}}}</a>
                </p>
            </div>
            <div id="fediverse" class="step vh-100 pt-3 d-flex flex-column justify-content-center" data-step="3" data-scrollama-index="3">
                <p class="p-2 lead bg-dark">
                    {{{__ "home_intro_fediverse_is"}}}
                </p>
                <p class="p-2 bg-dark">
                    {{{__ "home_intro_fediverse_social_media"}}}
                </p>
                <p class="p-2 mt-5">
                    <a class="btn btn-outline-secondary" href="#into-the-fediverse">{{{__ "home_intro_btn_alright"}}}</a>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="d-flex align-items-center vh-100 position-relative overflow-hidden text-center">
    <div id="into-the-fediverse" class="mx-auto my-5">
        <a class='d-block d-md-inline' href='/join'>{{{__ "home_outro_join"}}}</a> {{{__ "home_outro_or"}}} <a class='d-block d-md-inline' href='/learn'>{{{__ "home_outro_learn_more"}}}</a>
    </div>
</div>