<div class="container mb-5 mt-5">
    <div class="row">
        <div class="col-sm-12 ">
            <div class="mx-auto text-center">
                <h1 class="display-4 fw-bold my-5">{{{__ "join_page_title"}}}</h1>
                <p class="
                    {{#ifEquals current_locale.lang_dir "LTR"}}text-start{{/ifEquals}}
                    {{#ifEquals current_locale.lang_dir "RTL"}}text-end{{/ifEquals}}
                ">{{{__ "join_page_intro"}}}</p>
            </div>
        </div>
        <div class="col-sm-12">
            <table class="mx-auto mt-5 mb-5 w-100 social-media-alternatives">
                <tr class="
                    {{#ifEquals current_locale.lang_dir "LTR"}}text-start{{/ifEquals}}
                    {{#ifEquals current_locale.lang_dir "RTL"}}text-end{{/ifEquals}}
                ">
                  <th class="w-50 p-2">{{{__ "join_comparison_if"}}}</th>
                  <th class="w-50 p-2">{{{__ "join_comparison_then"}}}</th>
                </tr>
                <tr class="
                    {{#ifEquals current_locale.lang_dir "LTR"}}text-start{{/ifEquals}}
                    {{#ifEquals current_locale.lang_dir "RTL"}}text-end{{/ifEquals}}
                ">
                  <td class="p-4">
                    <span class="logo-small-wrapper d-block d-md-inline-block d-lg-inline-block">
                        <img width="50" height="50" alt="Instagram logo" class="logo-small" src="/images/logos/social/instagram.svg">
                        Instagram
                    </span>
                  </td>
                  <td class="p-4">
                    <span class="logo-small-wrapper d-block d-md-inline-block d-lg-inline-block">
                        <a href="https://pixelfed.org/servers">
                            <img width="50" height="50" alt="Pixelfed logo" class="logo-small" src="/images/logos/fediverse/pixelfed.svg">
                            Pixelfed
                        </a>
                    </span>
                  </td>
                </tr>
                <tr class="
                    {{#ifEquals current_locale.lang_dir "LTR"}}text-start{{/ifEquals}}
                    {{#ifEquals current_locale.lang_dir "RTL"}}text-end{{/ifEquals}}
                ">
                  <td class="p-4">
                    <span class="logo-small-wrapper d-block d-md-inline-block d-lg-inline-block">
                        <img width="50" height="50" alt="Facebook logo" class="logo-small" src="/images/logos/social/facebook.svg">
                        Facebook
                    </span>
                  </td>
                  <td class="p-4">
                    <span class="logo-small-wrapper d-block d-md-inline-block d-lg-inline-block">
                        <a href="https://friendi.ca/#try">
                            <img width="50" height="50" alt="Friendica logo" class="logo-small" src="/images/logos/fediverse/friendica.svg">
                            Friendica
                        </a>
                    </span>
                    <span class="logo-small-wrapper d-block d-md-inline-block d-lg-inline-block">
                        <a href="https://mobilizon.fr/">
                            <img width="50" height="50" alt="Mobilizon logo" class="logo-small" src="/images/logos/fediverse/mobilizon.svg">
                            Mobilizon
                        </a>
                    </span>
                    <span class="logo-small-wrapper d-block d-md-inline-block d-lg-inline-block">
                        <a href="https://hubzilla.org/pubsites">
                            <img width="50" height="50" alt="Hubzilla logo" class="logo-small" src="/images/logos/fediverse/hubzilla.svg">
                            Hubzilla
                        </a>
                    </span>
                  </td>
                </tr>
                <tr class="
                    {{#ifEquals current_locale.lang_dir "LTR"}}text-start{{/ifEquals}}
                    {{#ifEquals current_locale.lang_dir "RTL"}}text-end{{/ifEquals}}
                ">
                    <td class="p-4">
                      <span class="logo-small-wrapper d-block d-md-inline-block d-lg-inline-block">
                          <img width="50" height="50" alt="YouTube logo" class="logo-small" src="/images/logos/social/youtube.svg">
                          YouTube
                      </span>
                      <span class="logo-small-wrapper d-block d-md-inline-block d-lg-inline-block">
                          <img width="50"  alt="Vimeo logo" class="logo-small" src="/images/logos/social/vimeo.svg">
                          Vimeo
                      </span>
                      <span class="logo-small-wrapper d-block d-md-inline-block d-lg-inline-block">
                          <img width="50" height="50" alt="TikTok logo" class="logo-small" src="/images/logos/social/tiktok.svg">
                          TikTok
                      </span>
                      <span class="logo-small-wrapper d-block d-md-inline-block d-lg-inline-block">
                          <img width="50" height="50" alt="Twitch logo" class="logo-small" src="/images/logos/social/twitch.svg">
                          Twitch
                      </span>
                    </td>
                    <td class="p-4">
                      <span class="logo-small-wrapper d-block d-md-inline-block d-lg-inline-block">
                          <a href="https://joinpeertube.org/en_US/instances">
                              <img width="50" height="50" alt="Peertube logo" class="logo-small" src="/images/logos/fediverse/peertube.svg">
                              Peertube
                          </a>
                      </span>
                      <span class="logo-small-wrapper d-block d-md-inline-block d-lg-inline-block">
                          <a href="https://owncast.fediverse.observer/list">
                              <img width="50" height="50" alt="Owncast logo" class="logo-small" src="/images/logos/fediverse/owncast.svg">
                              Owncast
                          </a>
                      </span>
                    </td>
                </tr>
                <tr class="
                    {{#ifEquals current_locale.lang_dir "LTR"}}text-start{{/ifEquals}}
                    {{#ifEquals current_locale.lang_dir "RTL"}}text-end{{/ifEquals}}
                ">
                    <td class="p-4">
                      <span class="logo-small-wrapper d-block d-md-inline-block d-lg-inline-block">
                          <img width="50" height="50" alt="X logo" class="logo-small" src="/images/logos/social/x.svg">
                          X
                      </span>
                    </td>
                    <td class="p-4">
                      <span class="logo-small-wrapper d-block d-md-inline-block d-lg-inline-block">
                          <a href="https://joinmastodon.org/servers">
                              <img width="50" height="50" alt="Mastodon logo" class="logo-small" src="/images/logos/fediverse/mastodon.svg">
                              Mastodon
                          </a>
                      </span>
                      <span class="logo-small-wrapper d-block d-md-inline-block d-lg-inline-block">
                          <a href="https://pleroma.social/#featured-instances">
                              <img width="50" height="50" alt="Pleroma logo" class="logo-small" src="/images/logos/fediverse/pleroma.svg">
                              Pleroma
                          </a>
                      </span>
                      <span class="logo-small-wrapper d-block d-md-inline-block d-lg-inline-block">
                          <a href="https://misskey-hub.net/en/servers/">
                              <img width="50" height="50" alt="Misskey logo" class="logo-small" src="/images/logos/fediverse/misskey.png">
                              Misskey
                          </a>
                      </span>
                      <span class="logo-small-wrapper d-block d-md-inline-block d-lg-inline-block">
                          <a href="https://akkoma.fediverse.observer/list">
                              <img width="50" height="50" alt="Akkoma logo" class="logo-small" src="/images/logos/fediverse/akkoma.svg">
                              Akkoma
                          </a>
                      </span>
                  </td>
                </tr>
                <tr class="
                    {{#ifEquals current_locale.lang_dir "LTR"}}text-start{{/ifEquals}}
                    {{#ifEquals current_locale.lang_dir "RTL"}}text-end{{/ifEquals}}
                ">
                    <td class="p-4">
                      <span class="logo-small-wrapper d-block d-md-inline-block d-lg-inline-block">
                          <img width="50" height="50" alt="Reddit logo" class="logo-small" src="/images/logos/social/reddit.svg">
                          Reddit
                      </span>
                      <span class="logo-small-wrapper d-block d-md-inline-block d-lg-inline-block">
                          <img width="50" height="50" alt="Hacker News logo" class="logo-small" src="/images/logos/social/hacker-news.svg">
                          Hacker News
                      </span>
                    </td>
                    <td class="p-4">
                      {{!-- <span class="logo-small-wrapper d-block d-md-inline-block d-lg-inline-block">
                          <a href="https://joinfediverse.wiki/What_is_Kbin">
                              <img width="50" height="50" alt="Kbin logo" class="logo-small" src="/images/logos/fediverse/kbin.svg">
                              Kbin
                          </a>
                      </span> --}}
                      <span class="logo-small-wrapper d-block d-md-inline-block d-lg-inline-block">
                          <a href="https://joinmbin.org/servers">
                              <img width="50" height="50" alt="Mbin logo" class="logo-small" src="/images/logos/fediverse/mbin.svg">
                              Mbin
                          </a>
                      </span>
                      <span class="logo-small-wrapper d-block d-md-inline-block d-lg-inline-block">
                          <a href="https://join.piefed.social/try/">
                              <img width="50" height="50" alt="Mbin logo" class="logo-small" src="/images/logos/fediverse/piefed.png">
                              PieFed
                          </a>
                      </span>
                      <span class="logo-small-wrapper d-block d-md-inline-block d-lg-inline-block">
                          <a href="https://lemmyverse.net/">
                              <img width="50" height="50" alt="Lemmy logo" class="logo-small" src="/images/logos/fediverse/lemmy.svg">
                              Lemmy
                          </a>
                      </span>
                  </td>
                </tr>
                  <tr class="
                    {{#ifEquals current_locale.lang_dir "LTR"}}text-start{{/ifEquals}}
                    {{#ifEquals current_locale.lang_dir "RTL"}}text-end{{/ifEquals}}
                  ">
                  <td class="p-4">
                    <span class="logo-small-wrapper d-block d-md-inline-block d-lg-inline-block">
                        <img width="50" height="50" alt="Medium logo" class="logo-small" src="/images/logos/social/medium.svg">
                        Medium
                    </span>
                  </td>
                  <td class="p-4">
                    <span class="logo-small-wrapper d-block d-md-inline-block d-lg-inline-block">
                        <a href="https://writefreely.org/instances">
                            <img width="50" height="50" alt="WriteFreely logo" class="logo-small" src="/images/logos/fediverse/writefreely.png">
                            WriteFreely
                        </a>
                    </span>
                    <span class="logo-small-wrapper d-block d-md-inline-block d-lg-inline-block">
                        <a href="https://wordpress.org/plugins/activitypub/">
                            <img width="50" height="50" alt="WordPress logo" class="logo-small" src="/images/logos/fediverse/wordpress.svg">
                            WordPress
                        </a>
                    </span>
                  </td>
                </tr>
                  <tr class="
                    {{#ifEquals current_locale.lang_dir "LTR"}}text-start{{/ifEquals}}
                    {{#ifEquals current_locale.lang_dir "RTL"}}text-end{{/ifEquals}}
                  ">
                  <td class="p-4">
                    <span class="logo-small-wrapper d-block d-md-inline-block d-lg-inline-block">
                        <img width="50" alt="GoodReads logo" class="logo-small" src="/images/logos/social/goodreads.svg">
                        GoodReads
                    </span>
                  </td>
                  <td class="p-4">
                    <span class="logo-small-wrapper d-block d-md-inline-block d-lg-inline-block">
                        <a href="https://joinbookwyrm.com/instances/">
                            <img width="50" height="50" alt="BookWyrm logo" class="logo-small" src="/images/logos/fediverse/bookwyrm.png">
                            BookWyrm
                        </a>
                    </span>
                  </td>
                </tr>
              </table>
              <p class="text-center">
                {{{__ "join_learn_more"}}} | {{{__ "join_find_community"}}}
              </p>
        </div>
        <div class="col-sm-12 ">
            <div class="mx-auto my-5">
                <p>
                    {{{__ "join_outro"}}}
                </p>
                <p>
                    {{{__ "join_more_info_label"}}}
                </p>
                <ul>
                    <li>
                        <a href="https://feditrends.com/">feditrends.com</a>: {{{__ "join_more_info_feditrends_description"}}}
                    </li>
                    <li>
                        <a href="https://fedi.directory/">fedi.directory</a>: {{{__ "join_more_info_fedi_directory_description"}}}
                    </li>
                    {{!-- <li>
                        <a href="https://www.fedified.com/">fedified.com</a>: {{{__ "join_more_info_fedified_description"}}}
                    </li> --}}
                </ul>
                <p class="mt-5">
                    <a href="/">{{{__ "join_cta_home"}}}</a> {{{__ "join_cta_or"}}} <a href="/learn">{{{__ "join_cta_learn"}}}</a>.
                </p>
            </div>
        </div>
    </div>
</div>