<div class="container mb-5 mt-5">
    <div class="row">
        <div class="col-sm-12">
            <h1 class="display-4 fw-bold text-center my-5">{{{__ "learn_diving_into_fediverse"}}}</h1>
            {{{__ "learn_what_is_fediverse"}}}


            <div class="mt-5"
                style="position: relative; padding-top: 56.25%;">
                <iframe title="Introducing the Fediverse: a New Era of Social Media"
                    width="100%"
                    height="100%"
                    src="https://videos.elenarossini.com/videos/embed/64VuNCccZNrP4u9MfgbhkN"
                    frameborder="0"
                    allowfullscreen=""
                    sandbox="allow-same-origin allow-scripts allow-popups allow-forms"
                    style="position: absolute; inset: 0px;"></iframe>
            </div>

            <h2 id="faq"
                class="mt-5"><a href="#faq">{{{__ "learn_faq_title"}}}</a></h2>
            <p id="faq-instance"
                class="fw-bold">{{{__ "learn_faq_instance_q"}}}</p>
            {{{__ "learn_faq_instance_a"}}}

            <p>
                <a class="btn btn-outline-primary mt-2 mb-3"
                    href="https://fedidb.com/welcome">{{__ "join_find_community"}}</a>
            </p>

            <p id="faq-decentralized-social-media"
                class="fw-bold">{{{__ "learn_faq_decentralized_social_media_q"}}}</p>
            {{{__ "learn_faq_decentralized_social_media_a"}}}
            <p id="faq-funding"
                class="fw-bold">{{{__ "learn_faq_funding_q"}}}</p>
            {{{__ "learn_faq_funding_a"}}}
            <p id="faq-rules"
                class="fw-bold">{{{__ "learn_faq_rules_q"}}}</p>
            {{{__ "learn_faq_rules_a"}}}
            <ul>{{{__ "learn_faq_rules_general"}}}</ul>
            <h2 id="resources"
                class="mt-5"><a href="#resources">{{{__ "learn_resources_title"}}}</a></h2>
            <ul>
                <li>
                    <a href="https://newpublic.substack.com/p/the-summer-of-decentralized-social">{{{__
                        "learn_resource_summmer_of_decentralized_social_title"}}}</a>: {{{__
                    "learn_resource_summmer_of_decentralized_social_description"}}}
                </li>
                <li>
                    <a href="https://joinfediverse.wiki">joinfediverse.wiki</a>: {{{__
                    "learn_resource_joinfediverse_wiki_description"}}}
                </li>
                <li>
                    <a href="https://fediverse.info/">fediverse.info</a>: {{{__
                    "learn_resource_fediverse_info_description"}}}
                </li>
                <li>
                    <a href="https://fediverseexplorations.org">{{{__
                        "learn_resource_fediverse_explorations_title"}}}</a>{{#if (translationExists
                    "learn_resource_fediverse_explorations_description" current_locale.code)}}: {{{__
                    "learn_resource_fediverse_explorations_description"}}}
                    {{/if}}
                </li>
                <li>
                    <a href="https://fediverse.observer/">fediverse.observer</a>: {{{__
                    "learn_resource_fediverse_observer_description"}}}
                </li>
                <li>
                    <a href="https://fediverse.party">fediverse.party</a>: {{{__
                    "learn_resource_fediverse_party_description"}}}
                </li>
                <li>
                    <a href="https://fedi.tips/">fedi.tips</a> + <a
                        href="https://mstdn.social/@feditips">@feditips@mstdn.social</a>: {{{__
                    "learn_resource_fedi_tips_description"}}}
                </li>
                <li>
                    <a href="https://fediversereport.com/">The Fediverse report</a> + <a
                        href="https://mastodon.social/@fediversereport">@fediversereport@mastodon.social</a>: {{{__
                    "learn_resource_fediverse_report_description"}}}
                </li>
                <li>
                    <a href="https://stefanbohacek.com/blog/a-netizens-guide-to-mastodon-fediverse/">{{{__
                        "learn_resource_netizens_guide_title"}}}</a>
                </li>
                {{#if (translationExists "learn_resource_observatorio_do_fediverso_title" current_locale.code)}}
                <li>
                    <a href="https://alquimidia.org/fediverso/">{{{__
                        "learn_resource_observatorio_do_fediverso_title"}}}</a>: {{{__
                    "learn_resource_observatorio_do_fediverso_description"}}}
                </li>
                {{/if}}
            </ul>
            <p class="mt-5"><a href="/">{{{__ "learn_cta_home"}}}</a> {{{__ "learn_cta_or"}}} <a href="/join">{{{__
                    "learn_cta_explore"}}}</a>.</p>
        </div>
    </div>
</div>