<!-- Made with https://github.com/zserge/zine -->
<style>
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

	.zine {
		display: grid;
		padding: 1mm;
		gap: 2mm;
	}

	.zine>* {
		display: grid;
		grid-template-columns: repeat(15, 5mm);
		grid-template-rows: repeat(21, 5mm);
		background-color: white;
		overflow: hidden;
	}

	.zine .page-image {
		grid-column: 1 / span 15;
		grid-row: 1 / span 21;
		width: 75mm;
		height: 105mm;
		object-fit: contain !important;
		padding: 10px;
	}

	.zine p,
	.zine mark {
		color: black !important;
	}

	.zine > * {
		overflow: visible;
	}	

	.zine> :nth-child(1) .page-image {
		object-fit: cover !important;
		padding: 0;
	}

	.zine .page-text {
		grid-column: 1 / span 15;
		grid-row: 1 / span 21;
		width: 75mm;
		height: 105mm;
		padding: 5mm;
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 4mm;
		font-family: system-ui, sans-serif;
		font-size: 4.5mm;
		line-height: 1.5;
	}

	.zine .page-qr {
		grid-column: 1 / span 15;
		grid-row: 1 / span 21;
		width: 75mm;
		height: 105mm;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 3mm;
		padding: 4mm;
		font-family: system-ui, sans-serif;
	}

	.zine .page-qr img,
	.zine .page-qr canvas {
		width: 60mm;
		height: 60mm;
	}

	.zine .page-qr .site-url {
		font-size: 5mm;
		font-weight: bold;
		text-align: center;
	}

	@media (prefers-color-scheme: dark) {
		body {
			background-color: #424242;
		}
	}

	@media screen {

		.zine {
			grid-template-areas: "p1" "p2" "p3" "p4" "p5" "p6" "p7" "p8";
			justify-items: center;
			gap: 2rem;
			margin: 2rem;
		}

.zine>* {
			border-radius: 2px;
			box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
		}
	}

	.zine-attribution {
		font-family: system-ui, sans-serif;
		text-align: center;
		color: #828282;
		margin-top: 1rem;
	}


	@media print {
		html,
		body {
			margin: 0 !important;
			padding: 0 !important;
		}

		* {
			-webkit-print-color-adjust: exact;
			print-color-adjust: exact;
		}

		body > header,
		body > footer,
		.container > .row,
		.zine-attribution,
		.zine-howto {
			display: none !important;
		}

		body.d-flex {
			display: block !important;
			height: auto !important;
			margin: 0 !important;
			padding: 0 !important;
		}

		html.h-100 {
			height: auto !important;
		}

		body > main,
		.container {
			max-width: none !important;
			width: 100vw !important;
			padding: 0 !important;
			margin: 0 !important;
		}

		@page {
			size: landscape;
			margin: 0;
			bleed: 0;
		}

		.zine {
			width: 100vw;
			height: 100vh;
			padding: 0;
			gap: 0;
			grid-template-areas: "p5 p4 p3 p2" "p6 p7 p8 p1";
			grid-template-columns: repeat(4, 25vw);
			grid-template-rows: repeat(2, 50vh);
		}

		.zine .page-image,
		.zine .page-text,
		.zine .page-qr {
			width: 25vw;
			height: 50vh;
		}

		.zine> :nth-child(5),
		.zine> :nth-child(4),
		.zine> :nth-child(3),
		.zine> :nth-child(2) {
			transform: rotate(180deg);
		}

		.zine > :nth-child(1) {
			grid-area: p1;
		}

		.zine > :nth-child(2) {
			grid-area: p2;
		}

		.zine > :nth-child(3) {
			grid-area: p3;
		}

		.zine > :nth-child(4) {
			grid-area: p4;
		}

		.zine > :nth-child(5) {
			grid-area: p5;
		}

		.zine > :nth-child(6) {
			grid-area: p6;
		}

		.zine > :nth-child(7) {
			grid-area: p7;
		}

		.zine > :nth-child(8) {
			grid-area: p8;
		}
	}
</style>
<div class="container mb-5 mt-5">
	<div class="row">
		<div class="col-sm-12">
			{{#if (localeNeedsTranslation "zine" current_locale.code)}}
					<div class="alert alert-warning mt-5" role="alert">
							{{{translationMissingAlert "zine"}}}
					</div>
			{{/if}}
			<h1 class="display-4 fw-bold text-center my-5">{{{__ "zine_title"}}}</h1>
			<p class="text-center">
				{{{__ "zine_description"}}}
			</p> 
		</div>
	</div>

	<main class="zine">
		<article>
			<img class="page-image" src="/images/images/fediverse-translations-inverted.png" alt="{{{__ "zine_alt_cover"}}}">
		</article>
		<article>
			<img class="page-image" src="/images/zine/email.png" alt="{{{__ "zine_alt_email"}}}">
		</article>
		<article>
			<div class="page-text">
				<p>{{{__ "home_intro_email"}}}</p>
				<p>{{{__ "home_intro_anyone"}}}</p>
			</div>
		</article>
		<article>
			<img class="page-image" src="/images/zine/social-media-corporate.png" alt="{{{__ "zine_alt_social_corporate"}}}">
		</article>
		<article>
			<div class="page-text">
				<p>{{{__ "home_intro_social_media"}}}</p>
			</div>
		</article>
		<article>
			<img class="page-image" src="/images/zine/social-media-fediverse.png" alt="{{{__ "zine_alt_social_fediverse"}}}">
		</article>
		<article>
			<div class="page-text">
				<p>{{{__ "home_intro_what_if"}}}</p>
			</div>
		</article>
		<article>
			<div class="page-qr">
				<div id="qrcode" data-alt="{{{__ "zine_alt_qr_code"}}}"></div>
				<p class="site-url">JoinTheFediverse.net</p>
			</div>
		</article>
	</main>
	<p class="zine-attribution">{{{__ "zine_attribution"}}}</p>
<script src="/libs/qr-code/qrcode.min.js"></script>
<script>
	const qrCodeEl = document.getElementById("qrcode");
	new QRCode(qrCodeEl, {
		text: "https://invite.jointhefediverse.net/?lang={{current_locale.code}}",
		width: 256,
		height: 256
	});
	qrCodeIMG = qrCodeEl.querySelector("img");
	qrCodeIMG.alt = qrCodeEl.dataset.alt;
</script>
	<picture class="zine-howto">
		<source srcset="/images/zine/zine-how-to-light.png" media="(prefers-color-scheme: dark)">
		<img class="img-fluid d-block mx-auto mt-4" src="/images/zine/zine-how-to-dark.png" alt="{{{__ "zine_alt_instructions"}}}">
	</picture>
</div>
