<link rel="stylesheet" href="/css/zine.css">
<div class="container mb-5 mt-5">
	<div class="row">
		<div class="col-sm-12">
			{{#if (localeNeedsTranslation "zine" current_locale.code)}}
					<div class="alert alert-warning mt-5" role="alert">
							{{{translationMissingAlert "zine"}}}
					</div>
			{{/if}}
			<h1 class="display-4 fw-bold text-center my-5">{{{__ "zine_title"}}}</h1>
			<p class="text-center">
				{{{__ "zine_description"}}}
			</p> 
		</div>
	</div>

	<main class="zine">
		<article>
			<img class="page-image" src="/images/images/fediverse-translations-inverted.png" alt="{{{__ "zine_alt_cover"}}}">
		</article>
		<article>
			<img class="page-image" src="/images/zine/email.png" alt="{{{__ "zine_alt_email"}}}">
		</article>
		<article>
			<div class="page-text">
				<p>{{{__ "home_intro_email"}}}</p>
				<p>{{{__ "home_intro_anyone"}}}</p>
			</div>
		</article>
		<article>
			<img class="page-image" src="/images/zine/social-media-corporate.png" alt="{{{__ "zine_alt_social_corporate"}}}">
		</article>
		<article>
			<div class="page-text">
				<p>{{{__ "home_intro_social_media"}}}</p>
			</div>
		</article>
		<article>
			<img class="page-image" src="/images/zine/social-media-fediverse.png" alt="{{{__ "zine_alt_social_fediverse"}}}">
		</article>
		<article>
			<div class="page-text">
				<p>{{{__ "home_intro_what_if"}}}</p>
			</div>
		</article>
		<article>
			<div class="page-qr">
				<div id="qrcode" data-alt="{{{__ "zine_alt_qr_code"}}}"></div>
				<p class="site-url">JoinTheFediverse.net</p>
			</div>
		</article>
	</main>
	<p class="zine-attribution text-center">{{{__ "zine_attribution"}}}</p>
<script src="/libs/qr-code/qrcode.min.js"></script>
<script>
	const qrCodeEl = document.getElementById("qrcode");
	new QRCode(qrCodeEl, {
		text: "https://invite.jointhefediverse.net/?lang={{current_locale.code}}",
		width: 256,
		height: 256
	});
	qrCodeIMG = qrCodeEl.querySelector("img");
	qrCodeIMG.alt = qrCodeEl.dataset.alt;
</script>
	<picture class="zine-howto">
		<source srcset="/images/zine/zine-how-to-light-covers.png" media="(prefers-color-scheme: dark)">
		<img class="img-fluid d-block mx-auto mt-4" src="/images/zine/zine-how-to-dark-covers.png" alt="{{{__ "zine_alt_instructions"}}}">
	</picture>
</div>
